<div id="page-landing">
    <div id="page-landing-content" >
      
      <h2>Cadastro de Pessoa</h2>    
      
      <img class="logo"
        src="assets/images/cadastro.png"
        alt="Plataforma de estudos"
        className="hero-image"
      />
    </div>
    
    <div className="buttons-container">
        <button type="button" class="bts" (click)="direcionar('pessoas')" >Cadastrar</button>
        <button type="button" class="bts" (click)="direcionar('sobre')">Sobre</button>
    </div >
      
  </div>